.container{
    display: flex;
    flex-direction: column;
}
/* .containerProductos2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-gap: 1rem;
    padding-left: 0.5rem;
} */
.btnDe{
    border: 1px solid var(--lightGreen);
    padding: 10px;
    font-weight: bolder;
    border-radius: 0px 100px 100px 0px;
    background-color: white;
}
.btnIz {
    border: 1px solid var(--lightGreen);
    padding: 10px;
    font-weight: bolder;
    border-radius: 100px 0px 0px 100px;
    background-color: white;
}
.btnBox{
    margin: 10px 0px;
}
.btnA{
    background-color:var(--lightGreen);
    color: white;
}


@media screen and (max-width: 604px) {
    .containerProductos2{
        display: grid;
        grid-template-columns: auto auto;
    }
}


.storeProducts {
    display: flex;
    flex-direction: column;
}

.topSecWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topSecLeft {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.storeImgWrapper {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.storeImgWrapper>img {
    height: 100%;
    border-radius: 50%;
}

.storeInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.storeTitle {
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 22px;
}

.storeDelivery {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 18px;
    color: #0aad0a;
}

.storePickup {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 18px;
}

.topSecRight {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: space-between;
}

.topSecRight:hover {
    text-decoration: underline;
    cursor: pointer;
}

.topSecRight>p {
    color: var(--lightGreen);
    font-weight: 600;
}

.topSecRight>svg {
    fill: var(--lightGreen);
    font-size: 1rem;
}

.productListWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
    gap: 2rem;
}

.productDisplayWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.productDisplayImgWrapper {
    height: 130px;
    width: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDisplayImgWrapper>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.productDisplayTitle {
    font-size: 0.8rem;
    line-height: 18px;
    font-weight: 400;
}

@media screen and (max-width: 420px) {
    .containerProductos2{
        display: grid;
        grid-template-columns: 160px 160px;
        grid-gap: 1rem;
    }
}


