.container{
    display: flex;
    flex-direction: column;
}
.containerProductos2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    grid-gap: 1rem;
    padding-left: 0.5rem;
}
.btnDe{
    border: 1px solid var(--lightGreen);
    padding: 10px;
    font-weight: bolder;
    border-radius: 0px 100px 100px 0px;
    background-color: white;
}
.btnIz {
    border: 1px solid var(--lightGreen);
    padding: 10px;
    font-weight: bolder;
    border-radius: 100px 0px 0px 100px;
    background-color: white;
}
.btnBox{
    margin: 10px 0px;
}
.btnA{
    background-color:var(--lightGreen);
    color: white;
}


@media screen and (max-width: 604px) {
    .containerProductos2{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 420px) {
    .containerProductos2{
        display: grid;
        grid-template-columns: 160px 160px;
        grid-gap: 1rem;
    }
}


