.button{
    display: flex;
    flex: nowrap;
    width: 75%;
    height: 50px;
    align-items: center;
    color: #ffffff;
    padding-left: 20px;
    border-radius: 10px;
    gap: 20px;
    transition: 0.5s;
    cursor: default;
}

.button:hover{
    background-color: #28AF61;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.iconWrapper  {
    font-size: 1.5rem;
}
.button:hover > .tag{
    color: #ffffff;
    font-size: 1rem;
}
.tag{
    color: #73cb98;
}
