.containers{
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 1rem;
}
.productos {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.divider{
    display: none;
}

.text{
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray);
}
.title {
    margin-bottom: 1rem;
}
.boxImg {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.boxComercio{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid var(--lightestGreen);
}
.boxTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   

}
.btnVaciar{
    background-color: var(--lightGreen);
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 50%;
    font-weight: 600;
    color: white;
    
}
.btnVaciar:hover{
    background-color: var(--lightestGreen);
}

.nombreComercio{
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .containers{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .divider{
        display: block;
    }
}
