.containers{
    display: grid;
    grid-template-columns: 1fr .5fr;
    /* padding: 1% 5%; */
    
}
.productos {
    display: flex;
    flex-direction: column;
}

.text{
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray);
}

