.containers{
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 1rem;
}
.productos {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.divider{
    display: none;
}

.text{
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray);
}
.title {
    margin-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    .containers{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .divider{
        display: block;
    }
}
