.listProducts{
    margin-bottom: 3rem;
    width: 100%;
    flex: 1;
}

.title{
    font-weight: 700;
    letter-spacing: 0.02rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.comerciosContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-gap: 2rem;
}