.infocontent
{
    font-size: 25px;
    font-weight: normal;
    color: #33353B;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.infocontent > img{
    width: 30rem;
}
.infoWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.3rem;
    gap: 0.5rem;
}
.info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.text{
    font-size: 0.8rem;
    color: var(--gray);
}

.text2{
    font-size: 0.9rem;
    color: var(--gray);
}
.price{
    color: var(--lightGreen);
    font-size: 1.1rem;
    font-weight: 700;
}
.descripcion{
    font-size: 0.8rem;
    color: var(--gray);
}