.infocontent
{
    font-size: 25px;
    font-weight: normal;
    height: 100%;
    width: 100%;
    color: #33353B;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.exitbutton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.exitbutton > svg{
    fill: var(--lightGreen);
}
.exitbutton > svg:hover {
    fill: var(--lightestGreen);
}

.imagesContainer{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.smallimagescontainer{
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.smallimage{
    width: 100%;
    cursor: pointer;
    opacity: 0.6;
}
.smallimage:hover{
    opacity: 1;
}
.bigImage{
    height: 20rem;
    cursor: pointer;
}
.infoContainer{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 25px;
    padding: 2rem;
}
.priceContainer{
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.3rem;
    gap: 0.5rem;
}
.priceWrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.text{
    font-size: 0.9rem;
    color: var(--gray);
}

.text2{
    font-size: 1rem;
    color: var(--gray);
}
.price{
    color: var(--lightGreen);
    font-size: 1.4rem;
    font-weight: 700;
}
.descripcion{
    font-size: 0.8rem;
    color: var(--gray);
}