.home{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

.sidebar{
    width: 17%;
    background-color: #fff;
    border-right: #DCEAE3;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right-width: 2px;
    border-style: solid;
}

.contentWrapper{
    background-color: gray;
    width: 100%;
}
.content{
    padding: 30px;
    background-color: #F7F8FA;
    height: 100%;
}
