.displayAddress{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top > svg{
    fill: #393939;
    font-size: 1.1rem;
    cursor: pointer;
}

.title{
    font-size: 0.87rem;
    font-weight: 600;
}
.subtitle{
    font-size: 0.75rem;
    font-weight: 400;
}

.displayAddress > button {
    border: none;
    outline: none;
    background-color: var(--lightGreen);
    color: white;
    font-weight: 600;
    padding: 2%;
    border-radius: 5px;
}