.pasillo
{
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all ease 0.2s;
  margin-bottom: 0.3rem;
}

.pasillo:hover{
  transform: scale(1.15);
  background-color: var(--lightGray);
  box-shadow: none;
}

.text{
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.category p
{
  font-size: 0.9rem;
  font-weight: 500;
  color: #33353B;
  text-align: center;
}
.dropdowncategorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropdowncategorias > svg {
  cursor: pointer;
}