.currentDeals{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 19vh;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 3rem;
    padding: 2rem;
}

.currentDeals > svg {
    font-size: 1.5rem;
    cursor: pointer;
    fill: #000;
}

.productText{
    font-size: 1rem;
    color: var(--white);
    font-weight: 600;
    margin-bottom: 1rem;
}

.title {
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
}

.btn{
    background-color: var(--white);
    width: fit-content;
    border-radius: 15px;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 0.8rem;
}