.product
{
  position: relative;
  background: #ffff;
  width: 240px;
  height: 270px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  cursor: default;
}
.product img
{
  height: 40%;
}
.name
{
  font-size: 25px;
  font-weight: bold;
  color: #33353B;
  text-align: center;
}
.favorite
{
  position: absolute;
  margin: 20px;
  right: 0;
  top: 0;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #FBE7E8;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorite svg
{
  color: #DD4750;
  height: 60%;
}
.favorite-clicked
{
  position: absolute;
  margin: 20px;
  right: 0;
  top: 0;
  background: #FBE7E8;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorite-clicked svg
{
  color: #DD4750;
  height: 60%;
}
.footer
{
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.pricebox
{
  display: flex;
  align-items: flex-end;
}
.price
{
  font-size: 25px;
  font-weight: bold;
  color: #28af61;
}
.unit
{
  color: #AAADBF;
}
.agregarcarrito
{
  background: #28af61;
  height: 35px;
  width: 35px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.agregarcarrito svg
{
  color: #ffffff;
  height: 50%;
}