.product{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cTag{
    border: 2px solid var(--lightGreen);
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cTag > p{
    font-size: 0.8rem;
    color: var(--lightGreen);
    font-weight: 500;
}

.top > p {
    font-weight: 700;
    font-size: 1.3rem;
}

.top > svg {
    cursor: pointer;
}

.imgContainer{
    height: 250px;
    position: relative;
    width: 100%;
}

.imgContainer > img{
    height: 100%;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.infoWrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 0.3rem;
}
.text{
    font-size: 0.8rem;
    color: var(--gray);
}

.text2{
    font-size: 0.9rem;
    color: var(--gray);
}
.price{
    color: var(--lightGreen);
    font-size: 1.1rem;
    font-weight: 700;
}

.title{
    margin: 0.5rem 0rem;
    font-size: 1rem;
}

.addProductContainer{
    background-color: var(--lightGreen);
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    gap: 0.2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.addProductContainer:hover {
    background-color: var(--darkGreen);
}

.addContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
}

.addMoreContainer{
    background-color: var(--lightGreen);
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 55%;
}

.addMoreIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.1rem;
}

.addMoreIconContainer:hover{
    background-color: var(--darkGreen);
}

.addText{
    color: #FFF;
    font-weight: 600;
    font-size: 0.9rem;
}

.addMoreIconContainer > svg {
    font-size: 1.3rem;
    fill: #FFF;
    cursor: pointer;
}

.addProductContainer > svg {
    font-size: 1.3rem;
    fill: #FFF;
    cursor: pointer;
}

.tagsContainer{
    display: flex;
    gap: 0.4rem;
}
.tag{
    background-color: var(--lightestGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.3rem;
}

.tag > p {
    font-size: 0.8rem;
    color: var(--lightGreen);
    font-weight: 500;
}

.infobackground
{
    background: rgba(105, 105, 105, .5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.infocontainer
{
    background: #ffff;
    width: 60rem;
    height: 50rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}