.checkout{
    background-color: #F7F7F7;
    display: flex;
    height: fit-content;
    padding: 2% 10%;
    gap: 2rem;
    height: 95.3vh;
}

.left{
    display: flex;
    flex: 2;
    background-color: #fff;
    flex-direction: column;
    height: fit-content;
}

.right{
    flex: 1;
    background-color: #fff;
    padding: 2%;
    height: fit-content;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
}
.rightTitle{
    font-weight: 600;
    font-size: 0.95rem;
}
.rightText{
    font-weight: 400;
    color: #393939;
}

.directions{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4%;
    margin-bottom: 3px solid #BDBDBD;
}

.DeliveryTime{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4%;
    margin-bottom: 3px solid #BDBDBD;
}

.deliveryInstructionsText{
    padding: 1%;
    border: 1px solid #BDBDBD;
    height: fit-content;
}

.deliveryInstructionsText:focus{
    outline: none;
}

.directionsTop{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.directionsTop > svg {
    fill: var(--lightGreen);
}

.directionsTop > p {
    font-size: 0.95rem;
    font-weight: 600;
}

.submitBtn{
    color: #fff;
    background-color: var(--lightGreen);
    border: #BDBDBD;
    outline: none;
    padding: 1.5% 3%;
    font-weight: 600;
    width: fit-content;
    border-radius: 5px;
    margin: 0.8rem 0rem;
}

.promo {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr .3fr;
    width: 100%;
    margin-bottom: 15px;

}

.inputPromo {
    background-color: white;
    outline: none;
    height: 40px;
    border: 1px solid var(--lightestGreen);
    padding: 10px;
   
    border-radius: 5px 0px 0px 5px;

}

.buttonPromo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--lightGreen);
    color: #fff;
    padding: 0.5rem;
}

@media screen and (max-width: 700px) {
    .checkout{
        padding: 0rem 1rem;
        display: flex;
        flex-direction: column;
    }

}
