.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2% 5%;
    border-bottom: 2px solid #DAE9E1;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
}

.navBarNoSticky {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2% 5%;
    border-bottom: 2px solid #DAE9E1;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
}

.logo{ 
    text-decoration: none;
    margin-right: 3rem;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
    width: 50%;
    border-radius: 10px;
    padding: 0.6rem 0.8rem 0.6rem 0rem;
}

.searchContainer > input {
    padding: 0.2rem 1rem;
    outline: none;
    border: none;
    background-color: inherit;
    flex: 1;
    font-size: 0.8rem;
}

.searchContainer > select {
    padding: 0.1rem 0.6rem;
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 600;
    font-size: 0.7rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 0.5rem;
}

.rightSection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
    gap: 2rem;
}

.rightSectionOpt {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.rightSectionOpt > svg {
    fill: var(--lightGreen);
    cursor: pointer;
}

.cartWrapper > svg{
    fill: var(--lightGreen);
    cursor: pointer;
}

.rightSectionOpt > svg:hover {
    fill: var(--lightestGreen);
}

.cartWrapper > svg:hover{
    fill: var(--lightestGreen);
}

.cartWrapper{
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cartInfoTitle{
    font-size: 0.6rem;
    color: var(--gray);
    font-weight: 600;
}
.cartInfoNumber{
    font-size: 0.8rem;
    font-weight: 600;
}

.searchContainer > svg{
    cursor: pointer;
}

.cartWrapper2 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-direction: column-reverse;
    position:relative;
}
.cartWrapper2>svg {
    fill: var(--lightGreen);
    cursor: pointer;
}
.cartWrapper2 >svg:hover {
    fill: var(--lightestGreen);
}
.numeritoCarrito{
    background-color: orange;
    height: 50%;
    width: 40%;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: 10px;
    font-weight:900;
    
}
.numeritoCarrito span{
    color: var(--lightGreen);
}

.signInBtn{
    background-color: var(--darkGreen);
    padding: 0.4rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    width: fit-content;
}

.signInBtn > p {
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
}

.loginBtn > p{
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.infobackground{
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

.hamburger{
    display: none;
}

.cartWrapperResponsive{
    display: none;
}

.fullSizelogo{
    display: none;
}

.textBtn{
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
}

.drawerBtn{
    background-color: var(--lightGreen);
    border-radius: 10px;
    padding: 2%;
}


@media screen and (max-width: 700px) {

    .navbar{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        top: 0;
        position: sticky;
        z-index: 10000;
        width: 100%;
        transition: all ease 2s;
        gap: 0.5rem;
        padding-top: 0.6rem;
    }

    .navBarNoSticky{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        top: 0;
        position: sticky;
        z-index: -1;
        width: 100%;
        gap: 0.5rem;
    }

    .logo{
        display: none;
    }

    .searchContainer{
        flex: 2;
    }

    .searchContainer > input {
        width: inherit;
    }

    .rightSection{
        display: none;
    }

    .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cartWrapperResponsive{
        display: block;
    }

    .cartInfo{
        display: none;
    }

}
