.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2% 5%;
    border-bottom: 2px solid #DAE9E1;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    width: 100%;
}

.logo{ 
    text-decoration: none;
    margin-right: 3rem;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
    width: 50%;
    border-radius: 10px;
    padding: 0.6rem 0.8rem 0.6rem 0rem;
}

.searchContainer > input {
    padding: 0.2rem 1rem;
    outline: none;
    border: none;
    background-color: inherit;
    flex: 1;
    font-size: 0.8rem;
}

.searchContainer > select {
    padding: 0.1rem 0.6rem;
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 600;
    font-size: 0.7rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 0.5rem;
}

.rightSection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
    gap: 2rem;
}

.rightSection > svg {
    fill: var(--lightGreen);
    cursor: pointer;
}

.cartWrapper > svg{
    fill: var(--lightGreen);
    cursor: pointer;
}

.rightSection > svg:hover {
    fill: var(--lightestGreen);
}

.cartWrapper > svg:hover{
    fill: var(--lightestGreen);
}

.cartWrapper{
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cartInfoTitle{
    font-size: 0.6rem;
    color: var(--gray);
    font-weight: 600;
}
.cartInfoNumber{
    font-size: 0.8rem;
    font-weight: 600;
}

.searchContainer > svg{
    cursor: pointer;
}

.cartWrapper2 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-direction: column-reverse;
    position:relative;
}
.cartWrapper2>svg {
    fill: var(--lightGreen);
    cursor: pointer;
}
.cartWrapper2 >svg:hover {
    fill: var(--lightestGreen);
}
.numeritoCarrito{
    background-color: orange;
    height: 50%;
    width: 40%;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: 10px;
    font-weight:900;
    
}
.numeritoCarrito span{
    color: var(--lightGreen);
}

.loginBtn{
    background-color: var(--darkGreen);
    padding: 0.4rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.loginBtn > p {
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.infobackground{
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}