.navbar {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2% 5%;
    border-bottom: 2px solid #DAE9E1;
}

.logo{ 
    text-decoration: none;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGray);
    width: 50%;
    border-radius: 10px;
    padding: 0.6rem 0.8rem 0.6rem 0rem;
}

.searchContainer > input {
    padding: 0.1rem 0.6rem;
    outline: none;
    border: none;
    background-color: inherit;
    flex: 1;
    font-size: 0.8rem;
    border-left: 2px solid var(--gray);
}

.searchContainer > select {
    padding: 0.1rem 0.6rem;
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 600;
    font-size: 0.7rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 0.5rem;
}

.rightSection{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
    gap: 2rem;
}

.rightSection > svg {
    fill: var(--lightGreen);
    cursor: pointer;
}

.cartWrapper > svg{
    fill: var(--lightGreen);
    cursor: pointer;
}

.rightSection > svg:hover {
    fill: var(--lightestGreen);
}

.cartWrapper > svg:hover{
    fill: var(--lightestGreen);
}

.cartWrapper{
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.cartInfoTitle{
    font-size: 0.6rem;
    color: var(--gray);
    font-weight: 600;
}
.cartInfoNumber{
    font-size: 0.8rem;
    font-weight: 600;
}
