.noMatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    height: auto;
}

.noMatch > img {
    width: 20%;
    margin-bottom: 3rem;
}

.title{
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
    font-weight: 700;
    text-align: center;
}
.subtitle{
    margin-bottom: 2rem;
    font-size: 0.9rem;
    text-align: center;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--lightGreen);
    padding: 0.7rem 1.5rem;
    border-radius: 15px;
    text-decoration: none;
}

.btn > p {
    color: var(--white);
}

@media screen and (max-width: 700px){
    .noMatch > img {
        width: 35%;
        margin-bottom: 2.6rem;
    }
}
    