.infoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1% 0%;
    width: 100%;
    flex: 1;
    margin-bottom: 2rem;
}
.infoTitle{
    font-weight: 400;
    font-size: 1.9rem;
    text-align: center;
    max-width: 450px;
}
.cardsWrapper{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 80%;
    flex: 1;
}
.cardE{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #F6F7F8;
    min-width: 305px;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    height: 460px;
}

.infoWrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 8%;
    min-height: 160px;
    flex: 2;
}
.title{
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 32px;
    word-break: break-word;
    hyphens: auto;
}
.text{
    width: 100%;
    font-size: 1.1rem;
    line-height: 2rem;
}
.image{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    object-fit: contain;
}

.imgWrapper{
    width: 100%;
    height: 195px;
}

.bottomSection{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    padding: 2% 8%;
}

.miniCardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 85%;
}
.miniCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--lightGray);
    padding: 3%;
    gap: 0.8rem;
    border-radius: 10px;
    width: 100%;
    height: 225px;
}
.miniCardtText{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 28px;
}

.bannerBottomSection{
    width: 100%;
    border-radius: 20px;
}

.bannerBottomSectionWrapper{
    width: 80%;
}

@media screen and (max-width: 700px) {

    .infoTitle{
        font-size: 1.44rem;
        width: 80%;
    }

    .cardsWrapper{
        gap: 0.8rem;
        overflow-x: scroll;
    }

    .cardE{
        width: 100%;
    }

    .title{
        font-size: 1.75rem;
    }

    .miniCardWrapper {
        display: flex;
        flex-direction: column;
    }

    .miniCardtText{
        display: none;
    }

    .miniCard .title {
        font-size: 1.4rem;
    }

    .miniCard{
        max-height: 80px;
    }

}

@media screen and (max-width: 920px) {
    .cardsWrapper{
        gap: 0.8rem;
        overflow-x: scroll;
    }

    .miniCard .title {
        font-size: 1.4rem;
    }

    .miniCard{
        height: 220px
    }
}

@media screen and (min-width: 921px) {
    .cardsWrapper{
        gap: 0.8rem;
        overflow-x: scroll;
    }

    .miniCard .title {
        font-size: 1.5rem;
    }

    .miniCard{
        height: fit-content;
        min-height: 230px;
    }
}


