*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
button:hover{
    cursor: pointer;
}
.container {
    height: fit-content;
    width: 30rem;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid var(--lightestGreen);
    position: fixed;
}

.boxFotoProducto{
    display: grid;
    grid-template-columns: 1fr .7fr;
    margin-bottom: 20px;
    align-items: center;
}
.buttonFoto{
    border: none;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--darkGreen);
    color: white;
}
.buttonFoto:hover{
    background-color: var(--lightGreen);
}
.boxImg{
    display: block;
    height: 160px;
    width: 80%;
    background-color: red;
    border-radius: 10px;
}
.inputsBox{
    display: grid;
    gap: 10px;

}
.inputsBox input{
    outline: none;
    height: 20px;
    border: none;
    border-bottom: 1px solid var(--lightGray);
    font-size: 16px;
    
}
.inputsBox label{
    font-size: 16px;

    
}
.inputButtons{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}
.inputButtons button{
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}
.btnAgregarProd{
    background-color: var(--darkGreen);
    color: white;
}
.btnAgregarProd:hover {
    background-color: var(--lightGreen);
}
.btnLimpiarProd{
    background-color: var(--lightGray);
}
.btnLimpiarProd:hover{
    background-color: var(--gray);
}