.containers {

    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid var(--lightestGreen);
    gap: 0.5rem;
}

.boxImg {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.upLeftSide{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}


.nombreProducto{
    font-size: 1.25rem;
    margin-bottom: 0.15rem;
}
.precioUnitario{
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.258);
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
    gap: 1rem;
}
.upInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 0.2rem;
    
}
.precioDisponible{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.disponible{
    color: green;
}
.noDisponible{
    color: red;
}

.addMore {
    width: fit-content;
    background-color: var(--lightGreen);
    padding: 0.1rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.addMoreSpan {
    color: white;
    font-weight: 600;
    cursor: default;
    font-size: 18px;
}

.downInfo {
    display: flex;
    justify-content: space-between;
}

.buttonSave {
    background-color: #f4f4f4;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.buttonSave:hover {
    background-color: rgb(232, 232, 232);
}

.cantidad {
    border: 1px solid rgba(0, 0, 0, 0.074);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    width: 50px;

}
.precioTotal{
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .nombreProducto{
        font-size: 1rem;
    }
}