* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containers {

    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-top: 1px solid var(--lightestGreen);

}

.boxImg {


    height: 120px;
    width: 120px;
    border-radius: 10px;
    background-size: cover;
}

.img {
    position: relative;
    width: 100%;
    height: 100%;
}

.nombreProducto {
    font-size: 20px;
    margin-bottom: 3px;
    cursor: default;
}

.precioUnitario {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.258);
    cursor: default;
}

.info {

    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: default;

}

.upInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

}

.precioDisponible {
    display: grid;
    grid-template-columns: .5fr 1fr;


}

.disponible {
    color: green;
    cursor: default;
}

.noDisponible {
    color: red;
}

.addMore {
    width: 15%;
    background-color: var(--lightGreen);
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

.addMoreSpan {
    color: white;
    font-weight: 600;
    cursor: default;
    font-size: 18px;
}


.addMoreIcons>svg {
    fill: white;




}

.downInfo {
    display: flex;
    justify-content: space-between;
}





.buttonSave {
    background-color: #f4f4f4;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

.buttonSave:hover {
    background-color: rgb(232, 232, 232);

}

.cantidad {
    border: 1px solid rgba(0, 0, 0, 0.074);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    width: 50px;

}
.precioTotal{
    
    font-size: 20px;
}
.comprar {
    background-color: var(--lightGreen);
    padding: 5px;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: bolder;
}

.comprar:hover {
    background-color: var(--lightestGreen);
}