@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #33353B;
}
body
{
  /* display: flex;
  justify-content: center;
  /*align-items: center;*/
  min-height: 100vh; 
  background: #ffffff
}