.pago {
   
   
    height: 500px;
    padding: 15px;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.222);
}

.productos {
    display: flex;
    width: 700px;
    flex-direction: column;
}

.buttonD {
    width: 40px;
    height: 30px;
    background-color: white;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;

}

.promo {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr .3fr;
    width: 100%;
    margin-bottom: 15px;

}

.inputPromo {
    background-color: white;
    outline: none;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.154);
    padding: 10px;
   
    border-radius: 5px 0px 0px 5px;

}

.buttonPromo {
    height: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
    font-weight: bolder;
}
.subtotal{
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 10px;
   

}
.subTituloPrecio{
    
    font-size: 16px;
    color: rgba(0, 0, 0, 0.397);
    font-weight: 600;
}

hr{
   border: 1px solid rgba(0, 0, 0, 0.159);
   margin-top: 15px;
   margin-bottom: 15px;
}
.precio{
    color: rgba(0, 0, 0, 0.356);
    font-size: 1100;
}
.tituloTotal{
    font-weight: 600;
    font-size: 18px;
}
.buttons{
    display: grid;
    gap: 20px;
    margin-top: 20px;
}
.button{
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.btn1{
    background-color: rgb(59, 101, 241);
    color: white;
}
.btn2{
    background-color: white;
    border: 1px solid rgb(209, 208, 208);
}
