.containers{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    padding: 0.6rem 0;
    border-top: 1px solid var(--lightestGreen); 
   
}
.boxImg{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nombreProducto{
    font-size: 1.25rem;
    margin-bottom: 0.15rem;
}
.precioUnitario{
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.258);
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: default;
}
.upInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    
}
.precioDisponible{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.disponible{
    color: green;
}
.noDisponible{
    color: red;
}
.addMore{
    width: 20%;
    background-color: var(--lightGreen);
    padding: 0.1rem 0.6rem 0.1rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    min-width: 100px;
}

.addMoreSpan{
    color: white;
    font-weight: 600;
    cursor:default;
}
.addMoreIconsBox{
    width: 15px;
    height: 15px;
    background-size: cover;
}
.addMoreIcons{
    cursor: pointer;
}
.addMoreIcons > svg{
    fill: white;
}

.downInfo{
    display: flex;
    justify-content: space-between;
}

.buttonDelete{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: #f4f4f4;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 5px;
    min-width: 45px;
}

.buttonDelete > p{
    font-size: 0.9rem;
}

.buttonDelete:hover {
    background-color: rgb(232, 232, 232);
    cursor: pointer;

}
.buttonSave{
    background-color: #f4f4f4;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
}
.buttonSave:hover {
    background-color: rgb(232, 232, 232);

}
.cantidad{
    border: 1px solid rgba(0, 0, 0, 0.074);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    width: 50px;

}

@media screen and (max-width: 700px) {
    .buttonDelete > p{
        display: none;
    }
}

